article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 40px;
  font-family: "Fugaz One", sans-serif;
  padding: 5px 20px;
  letter-spacing: 8px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; }

.playText {
  font-family: "Fugaz One", sans-serif; }

.timer {
  font-family: "Fugaz One", sans-serif; }

body {
  position: relative; }

.content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 90vh;
  margin: 2%; }
  .content-container aside {
    width: 25%;
    border: 5px solid #052131;
    border-right: none; }
    .content-container aside div.asideBottom, .content-container aside div.asideTop {
      height: 50%; }
    .content-container aside div.asideBottom {
      border-top: 5px solid #052131;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .content-container aside div.asideBottom .play-btn {
        display: inline-block;
        margin-top: 20px;
        width: 150px;
        padding: 10px 20px;
        border: 3px solid #3F4351;
        background: transparent;
        position: relative;
        -webkit-transform: translate(5px -4px);
        -ms-transform: translate(5px -4px);
        transform: translate(5px -4px);
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 26px; }
        .content-container aside div.asideBottom .play-btn .playText {
          font-size: 30px; }
        .content-container aside div.asideBottom .play-btn:hover {
          -webkit-transform: translate(-4px, 4px);
          -ms-transform: translate(-4px, 4px);
          transform: translate(-4px, 4px);
          cursor: pointer; }
        .content-container aside div.asideBottom .play-btn:hover .content-container aside div.asideBottom .play-btn:before {
          -webkit-transform: translate(4px, -4px);
          -ms-transform: translate(4px, -4px);
          transform: translate(4px, -4px); }
        .content-container aside div.asideBottom .play-btn:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-color: rgba(77, 63, 81, 0.4);
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          -webkit-transform: translate(6px, -6px);
          -ms-transform: translate(6px, -6px);
          transform: translate(6px, -6px); }
        .content-container aside div.asideBottom .play-btn .minutes, .content-container aside div.asideBottom .play-btn .seconds {
          width: 250px;
          height: 200px; }
  .content-container main {
    width: 75%;
    border: 5px solid #052131; }
    .content-container main ul {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      padding: 30px;
      margin: 0;
      height: 100%; }
      .content-container main ul li {
        width: calc(20% - 10px);
        height: 113px;
        margin: 5px; }

.flip-container {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.flip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 113px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid black; }

div.back {
  background-color: #fff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 5;
  height: 113px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

div.front {
  z-index: -2;
  border: 2px solid #3F4351;
  background-image: url(../assets/whirlpool.png); }

li img {
  max-width: 60%;
  margin: 0 auto;
  max-height: 60%; }

li .caption {
  font-family: 'Roboto', sans-serif;
  background: #052131;
  color: #fff;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  -webkit-align-self: bottom;
  -ms-flex-item-align: bottom;
  align-self: bottom; }

.matched .flip-container,
.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.timer {
  border: 3px solid #3F4351;
  width: 150px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 36px;
  padding: 5%;
  margin-bottom: 10%; }

.minutes, .seconds {
  padding: 2%;
  background: rgba(77, 63, 81, 0.4); }

footer {
  font-family: 'Roboto', sans-serif;
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 2%; }
  footer a {
    text-decoration: none;
    display: inline-block;
    color: #052131;
    border-bottom: 2px solid #052131;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    footer a:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  footer p {
    margin: 0; }
    footer p .fa {
      padding: 0 10px;
      cursor: pointer;
      font-size: 22px; }
    footer p .iconTransform {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  footer .credit {
    position: relative; }
    footer .credit .artists {
      display: none;
      padding: 10px; }
      footer .credit .artists a {
        color: #fff;
        border-bottom: 2px solid #fff; }
    footer .credit .artistsDisplay {
      display: block;
      width: 400px;
      color: #fff;
      background: #052131;
      position: absolute;
      right: 0;
      bottom: 100%; }

.raccoon-container {
  width: 80%;
  margin: 0 auto 10px auto; }

.trash-panda {
  width: 190px;
  height: 135px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-color: #bcbdc1;
  border-top-left-radius: 105px;
  border-top-right-radius: 105px;
  border-bottom-left-radius: 100px 60px;
  border-bottom-right-radius: 100px 60px;
  background-image: -webkit-radial-gradient(50% 68% ellipse, #251f23 10px, transparent 11px), -webkit-radial-gradient(177px 96px ellipse, #e6e9ef 90px, transparent 90px), -webkit-radial-gradient(17px 95px ellipse, #e6e9ef 90px, transparent 90px);
  background-image: -o-radial-gradient(50% 68% ellipse, #251f23 10px, transparent 11px), -o-radial-gradient(177px 96px ellipse, #e6e9ef 90px, transparent 90px), -o-radial-gradient(17px 95px ellipse, #e6e9ef 90px, transparent 90px);
  background-image: radial-gradient(ellipse at 50% 68%, #251f23 10px, transparent 11px), radial-gradient(ellipse at 177px 96px, #e6e9ef 90px, transparent 90px), radial-gradient(ellipse at 17px 95px, #e6e9ef 90px, transparent 90px);
  background-repeat: no-repeat; }

.trash-panda:before {
  content: "";
  display: block;
  width: 40px;
  height: 50px;
  position: absolute;
  left: 33px;
  top: 63px;
  background: #818286;
  border-radius: 50% 50% 42% 75%;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  background-image: -webkit-radial-gradient(26px 20px circle, #251f23 8px, transparent 8px);
  background-image: -o-radial-gradient(26px 20px circle, #251f23 8px, transparent 8px);
  background-image: radial-gradient(circle at 26px 20px, #251f23 8px, transparent 8px);
  -webkit-box-shadow: 56px -128px 0 -15px #e6e9ef, 56px -128px 0 -2px #818286;
  box-shadow: 56px -128px 0 -15px #e6e9ef, 56px -128px 0 -2px #818286; }

.trash-panda:after {
  content: "";
  display: block;
  width: 40px;
  height: 50px;
  position: absolute;
  right: 33px;
  top: 63px;
  background: #818286;
  border-radius: 50% 50% 75% 45%;
  -webkit-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  background-image: -webkit-radial-gradient(15px 20px circle, #251f23 8px, transparent 8px);
  background-image: -o-radial-gradient(15px 20px circle, #251f23 8px, transparent 8px);
  background-image: radial-gradient(circle at 15px 20px, #251f23 8px, transparent 8px);
  -webkit-box-shadow: -56px -128px 0 -15px #e6e9ef, -56px -128px 0 -2px #818286;
  box-shadow: -56px -128px 0 -15px #e6e9ef, -56px -128px 0 -2px #818286; }

@media (max-width: 1000px) {
  h1 {
    font-size: 28px; }
  .caption {
    display: none; }
  div.back {
    display: block; }
  li img {
    max-width: 100%;
    max-height: 100%;
    padding: 0 5px; } }

@media (max-width: 845px) {
  .content-container {
    display: block;
    min-height: auto;
    margin: 2%; }
    .content-container aside {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border: 5px solid #052131; }
      .content-container aside div.asideBottom, .content-container aside div.asideTop {
        width: 50%; }
      .content-container aside div.asideBottom {
        border-top: none;
        height: 100%; }
        .content-container aside div.asideBottom .play-btn {
          margin-bottom: 40px; }
    .content-container main {
      width: 100%;
      border: 5px solid #052131;
      border-top: none; }
    .content-container .timer {
      margin-bottom: 0; } }

@media (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    position: relative; }
  footer {
    font-size: 22px; }
  .mobileAlert {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2%;
    border: 4px solid #BCBDC1; }
    .mobileAlert h2 {
      font-size: 60px;
      line-height: 50px; }
    .mobileAlert button {
      width: 30%;
      margin: 5% auto 0 auto;
      font-size: 50px; }
  .content-container aside div.asideBottom .play-btn {
    margin-bottom: 40px; }
  .timer {
    margin-bottom: 0; } }

@media (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .play-btn {
    margin-bottom: 20px; }
  .timer {
    margin-bottom: 0; }
  footer p, footer a {
    font-size: 26px; } }
