@import "setup";



h1 {
	// text-transform: uppercase;
	font-size: 40px;
	font-family: "Fugaz One", sans-serif;
	padding: 5px 20px;
	letter-spacing: 8px;
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	line-height: 42px;
}

.playText {
	font-family: "Fugaz One", sans-serif;
}

.timer {
	font-family: "Fugaz One", sans-serif;
}

body {
	position: relative;
}
.content-container {
	display: flex;
	flex-wrap: wrap;
	min-height: 90vh;
	margin: 2%;
	aside {
		width: 25%;
		border: 5px solid #052131;
		border-right: none;
		div.asideBottom, div.asideTop {
			height: 50%;
		}
		div.asideBottom {
			border-top: 5px solid #052131;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-around;
			align-content: space-around;
			align-items: center;
			.play-btn {
				display: inline-block;
				margin-top: 20px;
				width: 150px;
				padding: 10px 20px;
				border: 3px solid #3F4351;
				background: transparent;
				position: relative;
				transform: translate(5px -4px);
				transition: all 0.3s ease;
				font-size: 26px;
				.playText {
					font-size: 30px;
				}
				&:hover {
					transform: translate(-4px, 4px);
					cursor: pointer;
				}
				&:hover &:before{
					transform: translate(4px, -4px);
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: -1;
					background-color: rgba(77, 63, 81, 0.4);
					transition: all 0.3s ease;
					transform: translate(6px, -6px);
				}
				.minutes, .seconds {
					width: 250px;
					height: 200px;
				}
			}
		}
	}
	main {
		width: 75%;
		border: 5px solid #052131;
		ul {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;
			padding: 30px;
			margin: 0;
			height: 100%;
			li {
				width: calc(20% - 10px);
				height: 113px;
				margin: 5px;
			}
		}
	}
}

.flip-container {
	transition: 0.5s;
	position: relative;
	width: 100%;
	transform-style: preserve-3d;
	transform: translateZ(0);
}

.flip {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 113px;
	backface-visibility: hidden;
	border: 2px solid black;
}

div.back {
	background-color: #fff;
	transform: rotateY(180deg);
	z-index: 5;
	height: 113px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
div.front {
	z-index: -2;
	border: 2px solid #3F4351;
	background-image: url(../assets/whirlpool.png)
}


li img {
	max-width: 60%;
	margin: 0 auto;
	max-height: 60%;
}
li .caption {
	background: #052131;
	color: #fff;
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
	align-self: bottom;
}

// When this class is applied to the li, this will be added to the .flip-container
.matched .flip-container,
.flipped {
	transform: rotateY(180deg);
}

.timer {
	border: 3px solid #3F4351;
	width: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 36px;
	padding: 5%;
	margin-bottom: 10%;
}

	.minutes, .seconds {
		padding: 2%;
		background: rgba(77, 63, 81, 0.4);
	}

footer {
	min-height: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 2%;
	a {
		text-decoration: none;
		display: inline-block;
		color: #052131;
		border-bottom: 2px solid #052131;
		transition: all 0.2s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
	p {
		margin: 0;
		.fa {
			padding: 0 10px;
			cursor: pointer;
			font-size: 22px;
		}
		.iconTransform {
			transform: rotate(-90deg);
		}
	}
	.credit {
		position: relative;
		.artists {
			display: none;
			padding: 10px;
			a {
				color: #fff;
				border-bottom: 2px solid #fff;
			}
		}
		.artistsDisplay {
			display: block;
			width: 400px;
			color: #fff;
			background: #052131;
			position: absolute;
			right: 0;
			bottom: 100%;
		}
	}
}

// RACCOON
.raccoon-container {
	max-width: 80%;
	margin: 0 auto 10px auto;
}

.trash-panda {
	width: 190px;
	height: 135px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	background-color: #bcbdc1;
	border-top-left-radius: 105px;
	border-top-right-radius: 105px;
	border-bottom-left-radius: 100px 60px;
	border-bottom-right-radius: 100px 60px;
	background-image: radial-gradient(ellipse at 50% 68%, #251f23 10px, transparent 11px), radial-gradient(ellipse at 177px 96px, #e6e9ef 90px, transparent 90px), radial-gradient(ellipse at 17px 95px, #e6e9ef 90px, transparent 90px);
	background-repeat: no-repeat;
}

.trash-panda:before {
	content:"";
	display: block;
	width: 40px;
	height: 50px;
	position: absolute;
	left: 33px;
	top: 63px;
	background: #818286;
	border-radius: 50% 50% 42% 75%;
	transform: rotate(35deg);
	background-image: radial-gradient(circle at 26px 20px, #251f23 8px, transparent 8px);
	box-shadow: 56px -128px 0 -15px #e6e9ef, 56px -128px 0 -2px #818286;
}

.trash-panda:after {
	content:"";
	display: block;
	width: 40px;
	height: 50px;
	position: absolute;
	right: 33px;
	top: 63px;
	background: #818286;
	border-radius: 50% 50% 75% 45%;
	transform: rotate(-35deg);
	background-image: radial-gradient(circle at 15px 20px, #251f23 8px, transparent 8px);
	box-shadow: -56px -128px 0 -15px #e6e9ef, -56px -128px 0 -2px #818286;
}


@media (max-width: 1000px) {
	h1 {
		font-size: 28px;
	}
	.caption {
		display: none;
	}
	div.back {
		display: block;
	}
	li img {
		max-width: 100%;
		max-height: 100%;
		padding: 0 5px;
	}
}

@media (max-width: 845px) {
.content-container {
	display: block;
	min-height: auto;
	margin: 2%;
	aside {
		width: 100%;
		display: flex;
		border: 5px solid #052131;
		div.asideBottom, div.asideTop {
			width: 50%;
		}
		div.asideBottom {
			border-top: none;
			height: 100%;
			.play-btn {
				margin-bottom: 40px;
			}
			}
		}
		main {
			width: 100%;
			border: 5px solid #052131;
			border-top: none;
		}
	.timer {
		margin-bottom: 0;
	}
	}
}

@media (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
	body {
		position: relative;
	}
	footer {
		font-size: 22px;
	}
	.mobileAlert {
		width: 80%;
		height: 60%;
		position: absolute;
		top: 20%;
		left: 35%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2%;
		border: 4px solid #BCBDC1;
		h2 {
			font-size: 60px;
			line-height: 50px;
		}
		button {
			width: 30%;
			margin: 5% auto 0 auto;
			font-size: 50px;
		}
	}
	.content-container aside div.asideBottom .play-btn {
		margin-bottom: 40px;
	}
	.timer {
		margin-bottom: 0;
	}
}

@media (max-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {
	.play-btn {
		margin-bottom: 20px;
	}
	.timer {
		margin-bottom: 0;
	}
	footer p, footer a {
		font-size: 26px;
	}
}
